$main-font: "Merriweather";

a{
  text-decoration: none;
}
.Title{
  margin-top: 80px !important;
  text-align: center;
  display: block;

  margin: 0 auto;
  color: #161415;
  font-size: 3.5em;
  font-weight: 600;


}

.ProjectWrapper{
  width: 100vw;
  background-color: #ffdead;

  padding-top: 20px;
}

@media (min-width: 1024px) {
  .first{
    background-size: cover;

    background: black url("../../Icons/RoguesTalesDesk.png") no-repeat center center;
  }
}

@media (max-width: 1024px) {
  .first{
    background-size: auto;
    background: black url("../../Icons/RoguesTalesMob.png") no-repeat center center;
  }
}

@media (max-width: 1024px) {
  .second{
    background: black url("../../Icons/RoopMob.png")  no-repeat;

    background-size: cover;
  }
}
@media (min-width: 1024px) {
  .second{
    background: black url("../../Icons/RoopDesk.jpeg")  no-repeat;

    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .third{
    background: black url("../../Icons/AugmentedRealityDesk.jpeg") no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .third{
    background: black url("../../Icons/AugmentedRealityMob.png") no-repeat;
    background-size: cover;
  }
}

.fourth{
  background: black url("../../Icons/Build12.png") no-repeat;
  background-size: cover;
}
.fifth{
  background: black url("../../Icons/MulTest.png") no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  .projectBox {
    width: 900px;
    height: 320px;
    margin-top: 100px !important;
    margin: 0 auto;
    margin-bottom: 50px !important;
  }
  .projectImage{
    display: inline-block;
    width: 300px;
    height: 300px;
    float: left;
  }
  .projectInfo{
    float: left;
    padding-left: 70px;
    width: 400px;
    height: 320px;
  }

  .projectText{
    margin-top: 10px;
    width: 400px;

    color: white;

    font-size: 1.0em;
  }

  .projectTitle{
    margin-top: 20px;
    color: white;
    font-size: 2.5em;
    line-height: 50px;

  }
  .Interface{
    float: right;
    width: 350px;
    height: 300px;
    padding-right: 50px;
  }
  .tags{

    margin-top: 90px;
  }
  .tag{
    float: left;
    text-align: center;
    color: white;

    margin-bottom: 20px;
    margin-left: 50px;
    display: inline-block;
    padding-right: 35px;
    border-radius:  0 50px  50px  0;
    height: 30px;
    background-color: darkred;
    line-height: 30px;
    font-size: 1.2em;
  }
  .button{

    width: 120px;
    height: 36px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    margin-top: 240px;
    margin-left: 220px;
  }
  .buttonAddition{
    width: 120px;
    height: 36px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    margin-top: 240px;
    margin-left: 50px;
  }
}

@media(max-width: 1024px){
  .projectBox {
    width: 90vw;
    padding-bottom: 30px;
    margin-top: 100px !important;
    margin: 0 auto;
    margin-bottom: 50px !important;
  }
  .projectTitle{
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    width: 250px;
    font-size: 2.5em;
    line-height: 50px;

  }
  .projectText{
    margin-top: 20px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: 1.0em;
  }
  .projectInfo{
    width: 100%;
  }

  .Interface{
    width: 100%;
    padding-right: 50px;
  }
  .tags{
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
  }
  .tag{

    text-align: center;
    color: white;

    margin-bottom: 10px;
    margin-right: 50px;
    display: inline-block;
    padding-right: 30px;
    border-radius:  0 50px  50px  0;
    height: 30px;
    background-color: darkred;
    line-height: 30px;
    font-size: 1.2em;
  }
  .button{
    width: 120px;
    height: 36px;
    background-color: black;
    border-radius: 5px;
    display: inline-block;

  }
  .buttonMobileWrapper{
    width: 280px;
    margin: auto;
  }

  .buttonCenter{
    width: 120px;
    height: 36px;
    background-color: black;
    border-radius: 5px;
    margin: auto;
  }
}


.button:hover{
  cursor: pointer;
  opacity: 0.9;
}
.tagIcon{
  margin-left: 10px;
  margin-right: 5px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 10;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background: url("../../Icons/tag-3-64.png") center center;

  float: left;

}

.github{
  margin-top: 3px !important;
  margin: auto;
  background-size: cover !important;
  width: 90px;
  height: 30px;
  background: url("../../Icons/GitHub_Logo_White.png") center center;

}
.googlePlay{
  margin-top: 3px !important;
  margin: auto;
  background-size: cover !important;
  width: 120px;
  height: 30px;
  background: url("../../Icons/google-play-png-logo-3799.png") center center;

}
.itchIO{
  margin-top: 3px !important;
  margin: auto;
  background-size: cover !important;
  width: 110px;
  height: 30px;
  background: url("../../Icons/badge.png") center center;

}
.youtube{


  background-size: contain !important;
  margin-left: 10px;
  width: 100px;
  height: 35px;
  background: url("../../Icons/yt_logo_rgb_dark.png") center center no-repeat;

}

