$main-font: "Roboto";
*{
  overflow-x: hidden;
}
.infoWrapper{
  display: block;
  width: 100vw;

  padding-bottom: 150px;
  background-color:#161415;
}
.Title{
  margin-top: 120px !important;
  text-align: center;
  display: block;
  width: 300px;

  margin: 0 auto;
  color:  white;
  font-size: 3.5em;
  font-weight: 600;


}
@media (min-width: 1024px) {
  .aboutMeWrapper {
    width: 600px;
    color:   white;
    margin: auto;
    margin-top: 50px !important;
  }
  .textWrapper{
    width: 350px;
    display: inline-block;

    font-size: 1.1em;
  }
  .imageWrapper{
    margin-bottom: 35px;
    margin-left: 30px;
    width: 215px;
    height: 215px;
    background: url("../../Icons/DanilaEbalo.jpg") center center;
    background-size: cover;
    border-radius: 150px;
    display: inline-block;
  }
  .specificInfoWrapper{
    width: 930px;
    margin-top: 100px !important;
    margin: auto;
  }
  .info{

    color:   white;
    display: inline-block;
    width: 160px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .subTitle{
    width: 300px;
    color:   white;
    font-size: 2.0em;
    font-weight: 600;
  }
  .information{
    margin-top: 20px;
    color:  white;
    font-size: 1.05em;
  }
}
@media (max-width: 1024px) {
  .aboutMeWrapper {
    width: 100vw;
    color:   white;
    margin: auto;
    margin-top: 50px !important;
  }
  .imageWrapper{
    width: 200px;
    height: 200px;
    background: url("../../Icons/DanilaEbalo.jpg") center center;
    background-size: cover;
    border-radius: 100px;
    margin: auto;
  }
  .textWrapper{
    margin-top: 50px !important;
    width: 90vw;
    margin: auto;

    font-size: 1.1em;
  }
  .specificInfoWrapper{
    width: 100vw;
    margin-top: 10px !important;
    margin: auto;
  }
  .info{

    color:   white;
    text-align: center;
    width: 100vw;

  }
  .subTitle{
    margin-top: 30px !important;
    margin: auto;
    width: 300px;
    color:   white;
    font-size: 2.5em;
    font-weight: 600;
  }
  .information{
    margin-top: 10px;
    color:   white;
    font-size: 1.15em;
  }
}
