$main-font: "Roboto";

.menu{
  width: 100vw;
  height: 66px;
  background-color: #161415;
  color:white;
  z-index: 100;
  position: fixed;
  overflow: hidden;
}

@media (min-width: 350px) {
  .menuElement {

    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 66px;
    line-height: 66px;
    font-size: 1.1em;
    display: inline-block;
  }
  .menuList {
    font-family: $main-font, serif;
    font-weight: 600;
    width: 330px;

    margin: auto;

  }
}

@media (max-width: 350px) {
  .menuElement {

    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    height: 66px;
    line-height: 66px;
    font-size: 1.1em;
    display: inline-block;
  }
  .menuList {
    font-family: $main-font, serif;
    font-weight: 600;
    width: 280px;

    margin: auto;

  }
}


@media (min-width: 1024px) {
  .menuElement {

    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    height: 66px;
    line-height: 66px;
    font-size: 1.1em;
    display: inline-block;
  }
  .menuList {
    font-family: $main-font, serif;
    font-weight: 600;
    width: 460px;

    margin: auto;

  }
}